.admin_form {
  width: 100%;
  height: 100vh;

  display: flex;

  .dashboard_left {
    // xử lí bố cục
    width: 23%;
    height: 100%;
    background-color: #f2eae1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    // xử lí element
    h1 {
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 25px;
    }
    .inf_user {
      // xử lí bố cục
      width: 130px;
      height: 196px;
      margin-bottom: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;

      // xử lí elemnt
      .user_img {
        width: 100%;
        height: 128px;
        border-radius: 100%;
      }
      .user_name {
        font-weight: 700;
        font-size: 20px;
      }
      .user_position {
        font-weight: 400;
        font-size: 14px;
      }
    }

    .user_btn {
      width: 220px;
      height: 460px;
      max-width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      //
      button {
        max-width: 100%;
        height: 41px;
        margin-bottom: 18px;
        // padding-bottom: 18px;
        // text-align: center;
        font-size: 20px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        border: none;
        border-radius: 8px;
      }
      .user_btn_chung:hover {
        width: 100%;
        background-color: #feaf00; /* Màu nền khi hover */
        border-radius: 8px; /* Thay đổi border-radius khi hover */
        transition: background-color 1s, border-radius 1s;
      }
    }
  }
  .dashboard_right {
    // width: calc(100% - 23%);
    flex: 1;
    height: 100%;

    .top_contain {
      background-color: white;
      // background-color: #f2eae1;
      width: 100%;
      height: 7%;
      display: flex;
      align-items: center;
      justify-content: center;

      .btn_search {
        width: 280px;
        height: 30px;
        border: 1px solid yellowgreen;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 40px;
        .DocSearch-Button-Container {
          margin-bottom: 4px;
        }
      }
    }
    .bot_contain {
      overflow: auto; /* Cho phép cuộn khi nội dung vượt ra khỏi kích thước */
      overflow-y: auto;
      width: 100%;
      overflow: auto;
      max-height: calc(89% - 10%);

      // th,
      // td {
      //   border-collapse: collapse; // các đường viền của các ô sẽ được gộp lại thành một đường viền duy nhất khi chúng gặp nhau
      //   padding: 0.8rem;
      //   margin: 40px;
      //   text-align: left;
      // }
      // .table_top {
      //   position: sticky;
      //   top: 0;
      //   left: 0;
      //   background-color: #d5d1defe;
      //   text-transform: capitalize;
      // }
      // table {
      //   border-collapse: separate;
      //   border-spacing: 0 4px;
      //   // border-collapse: collapse;
      //   padding: 1rem;
      //   width: 100%; // nó dãn ra ==> kéo các phần tử tr td dãn theo
      //   thead {
      //     // width: 100%;

      //     tr {
      //       th {
      //         position: sticky;
      //         top: 0;
      //         left: 0;
      //         background-color: #d5d1defe;
      //         text-transform: capitalize;
      //       }
      //     }
      //   }
      //   tbody {
      //     tr {
      //       border-radius: 20px;

      //       td {
      //         // background-color: #feaf00;

      //         img {
      //           width: 50px;
      //           height: 50px;
      //           margin-right: 0.5rem;
      //           border-radius: 20%;
      //           vertical-align: middle;
      //         }
      //       }
      //     }
      //   }
      // }

      

      .btnAddUser {
        color: #06171d;
        background-color: #6c00bd;
        height: 35px;
        width: 163px;
        border-radius: 1em 0.5rem;
        margin-left: 50px;
      }

      .modal-user-container {
        .modal-content {
          .modal-header {
            button {
              background-color: transparent;
              border: none;
              color: #fff;
              font-size: 20px;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
